@use "index.scss" as main;

%baseWidth {
  @include main.xs {
    width: 100%;
    max-width: 600px;
  }
  @include main.md {
    width: 600px;
  }
}

.container {
  height: 100%;
  padding: 60px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
button {
  background-color: transparent;
  border-radius: 50%;
  border: 0px;
  padding: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  &:active {
    transform: scale(0.8);
    opacity: 0.8;
  }
}
.header {
  @extend %baseWidth;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 12px;
  }
  button {
    width: 48px;
    height: 48px;
    &:hover {
      background: main.$backgrounColor;
    }
    svg > path {
      width: 24px;
      height: 24px;
    }
  }
  .inputBox {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
    input {
      flex: 1;
      height: 32px;
      border: none;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 32px;
      height: 32px;
      background: main.$backgrounColor;
    }
  }
}
.list {
  @extend %baseWidth;
  height: 500px;
  border-radius: 8px;
  overflow: auto;
}
